// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary:         #003366 !default;
$secondary:       #626262 !default;
$success:         #5cb85c !default;
$info:            #5bc0de !default;
$warning:         #f0ad4e !default;
$danger:          #d9534f !default;

//game color
$air:             #6ad2fd !default;
$grass:           #3c7f1f !default;
$ground:          #796015 !default;
